@import "bootstrap-sprockets";
@import "bootstrap";

.social-btn {
  border-style: 1px solid black;
  background-color: #bafcb5;
  width: 10%;
  padding: 3px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
}
